In [13]:
import seaborn as sns
import mlflow
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [14]:
# "runs:/{run.info.run_id}/{model}"
model_uri = "runs:/f6bf8c86e4ce442eaa5e0bd30badc421/lrmodel"

In [15]:
my_model = mlflow.sklearn.load_model(model_uri)

In [16]:
wine_path = "wine-quality.csv"
data = pd.read_csv(wine_path)
train, test = train_test_split(data)
test_x = test.drop(["quality"], axis=1)
test_y = test['quality']
test_x[:3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1332,7.9,0.16,0.64,17.0,0.050,69.0,210.0,1.0004,3.15,0.51,9.3
1433,7.1,0.29,0.49,1.2,0.031,32.0,99.0,0.9893,3.07,0.33,12.2
100,7.4,0.25,0.37,13.5,0.060,52.0,192.0,0.9975,3.00,0.44,9.1

In [17]:
my_model.predict(test_x[:3])

array([5.72975894, 6.14383762, 5.66533135])

In [18]:
test_y[:3]

1332    7
1433    6
100     5
Name: quality, dtype: int64